$font-primary: "Poppins", sans-serif;
$pink: #db39c6;
$gray: #2D2D2D;
$shadow: #868686;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 1px 1px 10px $shadow;
  position: relative;

  img {
    width: 10rem;
    margin: 1rem 1rem;
  }

  ul {
    display: flex;
    cursor: pointer;
    gap: 3rem;
    font-family: $font-primary;
    font-size: 1.2em;
    font-weight: 500;
    padding: 1rem 5rem;
  }

  li {
    list-style: none;

    a {
      text-decoration: none;
      color: $gray;

      &:hover {
        color: $pink;
      }
    }
  }
}

.btn-menu {
  background-color: transparent;
  border: none;
  color: $gray;
  cursor: pointer;
  margin-right: 4rem;
  display: none;
  width: 2rem;
}

@media (max-width: 768px) {
  .btn-menu {
    display: block;
  }

  .menu {
    display: none;
  }

  .door {
    display: flex;
    width: 50%;
    position: absolute;
    top: 100px;
    right: 0;
    background-color: white;
    box-shadow: 1px 1px 10px $shadow;

    ul {
      flex-direction: column;
      padding: 1.3rem;
      gap: 1rem;
    }
  }
}

@media (max-width: 480px) {
  .door {
    width: 100%;
  }
}