$font-primary: "Roboto", sans-serif;
$pink: #db39c6;
$gray: #2D2D2D;
$shadow: #868686;

.lancamentos {
  display: flex;
  flex-direction: column;
  align-items: center;

  .columns {
    display: none;
    flex-direction: column;
    gap: 1rem;
    margin: 2rem;
    width: 5%;
  }

  .batons {
    border: 2.5px solid $shadow;
  }
}

.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 1.5rem;
  box-shadow: 1px 1px 10px -5px $shadow;
  border-radius: 10px;

  h3 {
    font-family: $font-primary;
    font-size: 25px;
    font-weight: 600;
    color: $gray;
  }

  p {
    font-family: $font-primary;
    margin: 1rem 0;
    color: $gray;
  }

  .desc {
    font-size: 20px;
    margin-top: 1rem;
  }

  .text-desc {
    font-size: 19px;
  }
}

.batons-colors {
  display: flex;
  gap: 2rem;

  .btn-colors {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-style: none;
    border: solid $shadow;
    cursor: pointer;

    &:hover {
      border: none;
      box-shadow: 1px 1px 10px $pink;
    }
  }

  #vermelho {
    background-color: #b42b3c;
  }

  #rosa {
    background-color: #dd5c86;
  }

  #nude {
    background-color: #906276;
  }

  #marrom {
    background-color: #48312e;
  }
}

@media (min-width: 769px) {
  .lancamentos {
    flex-direction: row;
    justify-content: center;

    .columns {
      display: flex;
      flex-direction: column;
    }

    .color {
      width: 25%;
      border: 3px solid $shadow;
    }
  }

  .principal {
    align-items: start;
    width: 33.3%;
  }

  .batons-colors {
    gap: 1rem;
    width: 100%;
  }
}

@media (max-width: 769px) {
    .color {
      width: 35%;
    }
}