$font-primary: "Roboto", sans-serif;
$pink: #db39c6;
$gray: #2D2D2D;
$shadow: #868686;

h1 {
  font-family: $font-primary;
  display: flex;
  justify-content: center;
  margin: 3rem 2rem;
  font-size: 30px;
  color: $gray;
}

.looks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .cards {
    display: flex;
    width: 50%;
    padding: 1.5rem 1rem;
    position: relative;
    transition: transform 0.3s ease;

    .cards-img {
      width: 100%;
      height: 400px;
      object-fit: cover;
      border-radius: 10px;
      box-shadow: 1px 1px 10px $shadow;

      &:hover {
        box-shadow: 0 4px 12px $pink;
      }
    }

    .subtitles {
      font-family: $font-primary;
      position: absolute;
      font-weight: 700;
      top: 85%;
      left: 10%;
      color: white;
      font-size: 30px;
      transition: 0.3s ease;
    }

    &:hover {
      transform: translateY(-4px);
    }
  }

  .cards-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

@media (min-width: 769px) {
  .looks {
    width: 100%;
    flex-wrap: nowrap;
  }
}

@media (max-width: 480px) {
  h1 {
    text-align: center;
  }
  .looks .cards {
    width: 100%;
    justify-content: center;
  }
}